<div id="search_container" align="center">
    <table id="search_container_table">
        <tr>
            <td>Search</td>
            <td><%= render "search/search_box" %></td>
        </tr>
    </table>
</div>