<p id="notice"><%= notice %></p>

<p>
    <b>Project uuid:</b>
    <%= @project.uuid %>
</p>

<p>
    <b>Name:</b>
    <%= @project.name %>
</p>

<p>
    <b>Description:</b>
    <%= @project.description %>
</p>

